{% extends "base.html" %}
{% load static %}
{% block style %}
<link href="{% static 'css/noticia.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col esquerda">
                <h2>EVENTOS </h2>
                <div class="texto">
                    {% for evento in eventos %}
                    <div class="card mb-3" style="max-width: 100%;">
                      <div class="row no-gutters">
                        {% if evento.foto != None %}
                        <div class="col-md-6 col-lg-4">
                            
                            <img class="card-img-top imagem-noticia w-100 px-sm-5 px-md-0" src="{{ evento.foto.imagem.url }}" alt="{{ evento.nome }}">
                            
                        </div>
                        <div class="col-md-6 col-lg-8">
                          <div class="card-body">
                            <h5 class="card-title"><b>{{ evento.evento.nome }}</b></h5>
                            <p class="card-text">{{ evento.evento.descricao|safe }}</p>
                            <p class="card-text">
                                <small class="text-muted float-right mb-2">
                                    <a href="{{ evento.evento.get_absolute_url }}" class="btn btn-success">Leia mais</a>
                                </small>
                            </p>
                          </div>
                        </div>
                      </div>
                      {% else %}
                      <div class="col-md-12">
                          <div class="card-body">
                            <h5 class="card-title"><b>{{ evento.evento.nome }}</b></h5>
                            <p class="card-text">{{ evento.evento.descricao|safe }}</p>
                            <p class="card-text">
                                <small class="text-muted float-right mb-2">
                                    <a href="{{ evento.evento.get_absolute_url }}" class="btn btn-success">Leia mais</a>
                                </small>
                            </p>
                          </div>
                        </div>
                      </div>
                      {% endif %}
                    </div>
                    {% endfor %}     
                </div> 
            </div> 
        </div>
    </div>
</section>
{% endblock %}