{% extends "base.html" %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
<link rel="stylesheet" href="{% static 'vendors/owlcarousel/assets/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'vendors/owlcarousel/assets/owl.theme.default.min.css' %}">
<link href="{% static 'css/galeria.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/docs.theme.min.css' %}">
{% endblock %}

{% block content %}
<section id="demos">

  <h3>{{ galeria.nome }}</h3>

  <div class="row">
  <div class="large-12 columns">
    <div class="owl-carousel owl-theme">
      {% for personalidade in personalidades %}
      <a id="{{ personalidade.pk }}" class="click">
            <div class="item">
                {% for foto in fotos_personalidades_destaque %}
                {% if foto.personalidade == personalidade %}
                <img src="{{ foto.imagem.url }}" alt="{{ personalidade.nome }}">
                {% endif %}
                {% endfor %}
            </div>
      </a>
      {% endfor %}
    </div>
  </div>
  <hr>
  <div class="container">
    {% for personalidade in personalidades %}
    <div id="detalhe-{{ personalidade.pk }}" class="detalhes hide">				
      <div class="row">
        <div class="col-5">
          {% for foto in fotos_personalidades_destaque %}
          {% if foto.personalidade == personalidade %}
          <img src="{{ foto.imagem.url }}" alt="{{ personalidade.nome }}">
          {% endif %}
          {% endfor %}
        </div>
        <div class="col-6">
          <p class="text-justify">
            {{ personalidade.nome }} - {{ personalidade.funcao }} <br>
            {{ personalidade.inicio_servico }} - {{ personalidade.fim_servico }} <br>
            {{ personalidade.sobre|linebreaks }}
          </p>
        </div>
        </div>
        <div class="row outras-imagens">
          {% for foto in fotos_personalidade %}
          {% if foto.personalidade == personalidade %}
          <div class="col-3">
           <!-- <img id="myImg" src="resources/img/ifsp.jpg"> -->
            <a data-fancybox="gallery" href="{{ foto.imagem.url }}"><img src="{{ foto.imagem.url }}"></a>
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}

{% block scripts %}
<script defer src="{% static 'js/galeria.js' %}"></script>
<!-- javascript -->
<script defer src="{% static 'vendors/jquery/jquery.min.js' %}"></script>
<script defer src="{% static 'vendors/owlcarousel/owl.carousel.js' %}"></script>
<script defer src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
{% endblock %}