<!doctype html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Centro de Memória" />
    <title>Centro de Memória</title>
</head>
<body>
    <div>
        <h1>{{ instituicao.nome }}</h1>
        <h3>{{ personalidade.nome }}: {{ personalidade.funcao }}</h3>
        <h3>{{ personalidade.inicio_servico }} - {{ personalidade.fim_servico }}</h1>
    </div>
    {% for foto in fotos_personalidade %}
    <div>
        <figure>
            <img width="600" height="600" 
                src="{{ foto.imagem.url }}" alt="{{ personalidade.nome }}" />
        </figure>
    </div>
    {% endfor %}
</body>
</html>