{% extends "galeria_detalhes.html" %}

{% block personalidade_info %}
<div class="container">
    <div id="detalhe-1" class="detalhes">				
        <div class="row">
            <div class="col-5">
              <img src="{{ foto_destaque.imagem.url }}" alt="{{ personalidade.nome }}">
            </div>
            <div class="col-6">
              <p class="text-justify">
                {{ personalidade.nome }} - {{ personalidade.funcao }} <br>
                {{ personalidade.inicio_servico }} - {{ personalidade.fim_servico }} <br>
                {{ personalidade.sobre|linebreaks }}
              </p>
            </div>
            
          </div>
          
          <div class="row outras-imagens">
            {% for foto in fotos_personalidade %}
            <div class="col-3">
             <!-- <img id="myImg" src="resources/img/ifsp.jpg"> -->
              <a data-fancybox="gallery" href="{{ foto.imagem.url }}"><img src="{{ foto.imagem.url }}"></a>
            </div>
            {% endfor %}
          </div>
    </div>
</div> 
{% endblock %}