<!doctype html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Centro de Memória" />
    <title>Centro de Memória</title>
</head>
<body>
    <div>
        <h1>{{ instituicao.nome }}</h1>
        <h2>{{ galeria.nome }}: {{ galeria.descricao|linebreaks }}</h2>
    </div>
    {% for personalidade in personalidades %}
        <div>
            <a href="{{ personalidade.get_absolute_url }}"><h1>{{ personalidade.nome }}: {{ personalidade.funcao }}</h1></a>
        </div>
    {% endfor %}
</body>
</html>