{% extends "base.html" %}
{% load static %}
{% block style %}
<link href="{% static 'css/servicos.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<section>
    <div class="container">

        <div class="row">
            <div class="col esquerda">
                    <h2>FORMULÁRIO DE VISITAS</h2>
                    <h3> Todos os campos são obrigatórios. </h3>
                    <form method="post">
                        {% csrf_token %}
                        <fieldset>
                            {% for field in form %}
                            {% if forloop.counter0 == 0 %}
                            <div class=esq>
                            {% elif forloop.counter0 == 5 %}
                            <div class=dir>
                            {% endif %}
                                {% if field.name == 'nome' %}
                                <div class="nome">
                                {% elif field.name == 'email' %}
                                <div class="email">
                                {% elif field.name == 'periodo' %}
                                <div class="periodo">
                                {% elif field.name == 'estado' %}
                                <div class="estado">
                                {% elif field.name == 'cidade' %}
                                <div class="cidade">
                                {% elif field.name == 'data_visita' %}
                                <div class="data">
                                {% elif field.name == 'instituicao' %}
                                <div class="inst">
                                {% elif field.name == 'total_visitantes' %}
                                <div class="total">
                                {% elif field.name == 'motivo' %}
                                <div class="motivo">
                                {% else %}
                                <div>
                                {% endif %}
                                    <h4>{{ field.field.label }}</h4>
                                    {{ field }}
                                    <br/>
                                    {% if field.errors %}
                                    <ul class="errorlist">
                                        {% for error in field.errors %}
                                        <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                </div>
                                {% if forloop.counter0 == 4 %}
                                </div >
                                {% endif %}
                            {% endfor %}
                            <div class="botao">
                                <button type="submit" class="btn btn-success">Enviar</button>
                            </div>
                        </fieldset>
                </div>
                </form>
            </div>
{% endblock %}

{% block scripts %}
<script>
    function getCidade() {
        let uf = document.getElementById('id_estado').value;
        $.get("https://servicodados.ibge.gov.br/api/v1/localidades/estados/" + uf + "/municipios", function(data, status){
            $("#id_cidade").empty();
            $("#id_cidade").append(new Option('Selecione um Estado', ''));
            let cidades_list = []
            for (cidade of data){
                cidades_list.push(cidade.nome)
            }
            for (cidade of cidades_list.sort(
                function (a, b) {
                    return a.localeCompare(b);
                }
            )){
                $("#id_cidade").append(new Option(cidade, cidade));
            }
        });
    }
</script>
{% endblock %}