{% extends "base.html" %}
{% load static %}
{% block style %}
<link href="{% static 'css/contato2.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<section>
    <div class="container">

        <div class="row">
            <div class="col esquerda">
                    <h2>FALE CONOSCO</h2>
                    <form method="post">
                        {% csrf_token %}
                        <fieldset>
                            <div class=esq>
                            {% for field in form %}
                                {% if field.name == 'nome' %}
                                <h4> Nome </h4>
                                <div class="nome">
                                {% elif field.name == 'email' %}
                                <h4> E-mail </h4>
                                <div class="email">
                                {% elif field.name == 'sobrenome' %}
                                <h4> Sobrenome</h4>
                                <div class="sobrenome">
                                {% elif field.name == 'mensagem' %}
                                <div class="mensagem">
                                <h4> Mensagem </h4>
                                {% else %}
                                <div>
                                {% endif %}
                                {{ field }}
                                {% if field.errors %}
                                <ul class="errorlist">
                                    {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </div>
                            {% endfor %}
                            <div class="botao">
                                <button type="submit" class="btn btn-success">Enviar</button>
                        </fieldset>
                </div>
                </form>
                <fieldset>
                    <h2>MAIS INFORMAÇÕES </h2>

                    <div class="texto">
                        <p class="text-left">
                            Para pedir informações ou tirar suas dúvidas, preencha corretamente <br/>todos os campos do formulário e clique em enviar. Em breve nossa<br/>equipe lhe enviará uma resposta.
                        </p>
                </fieldset>
                </div>
            </div>
{% endblock %}