{% extends "base.html" %}
{% load static %}
{% block style %}
<link href="{% static 'css/style.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<section>
    <div class="container">

        <div class="row">
            <div class="col esquerda">

                <h2>{{ instituicao.nome }} </h2>

                <div class="texto">
                    <p class="text-justify">
                        {{ instituicao.sobre|safe }}</p>

                    {% if foto_instituicao != None  %}
                    <img src="{{ foto_instituicao.imagem.url }}" class="rounded mx-auto d-block" alt="{{ instituicao.nome }}">
                    {% endif %}
                </div>

                <h2>Patrono Prof. Benedito Ananias da Silva </h2>

                <div class="texto">
                    <p class="text-justify">
                        {{ instituicao.patrono|safe }} </p>

                </div>

                <h2>Atividades </h2>

                <div class="texto">
                    <p class="text-justify">
                        {{ instituicao.atividade|safe }}
                    </p>

                </div>

                <h2>Políticas do Acervo </h2>

                <div class="texto">
                    <p class="text-justify">
                        {{ instituicao.policia_acervo|safe }}
                    </p>

                </div>
                {% if membros != None %}
                <h2>NOSSA EQUIPE </h2>

                <div class="row">
                    {% for membro in membros %}
                    <div class="col-sm-4 col-md-3">
                        <div class="texto">
                            <div class="text-center">
                                <img src="{{ membro.imagem.url }}" class="avatar img-circle img-thumbnail" alt="{{ membro.nome }}">
                                <h6>{{ membro.nome }}</h6>
                            </div>
                        </div>
                    </div>
                    
                    {% endfor %}
                </div>
                {% endif %}

            </div>
            <div class="col-sm-12 col-md-3 shadow texto text-center">
                <h3>Últimas Noticias</h3>

                <div class="row "></div>
                {% for noticia in noticias %}
                <div class="col-sm-12">
                <div class="card mb-3 ">
                    <p class="card-subtitle text-muted mt-2 mb-1">{{ noticia.noticia.atualizado_em|date:"d/m/Y"}}</p>
                    {% if noticia.foto != None %}
                        <img class="card-img-top" src="{{ noticia.foto.imagem.url }}" alt="{{ noticia.noticia.titulo }}">
                    {% endif %}
                    <div class="card-body">
                        <p class="card-text">{{ noticia.noticia.titulo }}</p>
                        
                        <a href="{{ noticia.noticia.get_absolute_url }}" class="btn btn-success">Leia mais</a>
                    </div>
                </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</section>
{% endblock %}