#menu, .dropdown-menu {
    background: #009D4C;
	width: 100%;
}

 
header nav a, .dropdown-item {
    display: inline-block;
    margin-left: 25px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    color: #FFF;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
}


header nav a:hover, .dropdown a:hover{
    font-weight: bold;
    color: #FFF;
    background: #818479;
    -moz-transform: scale(1.03);
    -webkit-transform: scale(1.03);
    -o-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}
