{% extends "base.html" %}
{% load static %}
{% block style %}
<link href="{% static '/css/resultado_busca 2.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col esquerda">
                <h2>ACERVO </h2>
                <div>
                  <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                      <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Busca Básica</a>
                      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Busca Avançada</a>
                      
                    </div>
                  </nav>
                  <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    
                      <form method="post">
                        {% csrf_token %}
                          <div class="input-group">
                              {% for field in form %}
                              {{ field.label_tag }}
                              {{ field }}
                              {% if field.errors %}
                              <ul class="errorlist">
                                  {% for error in field.errors %}
                                  <li>{{ error }}</li>
                                  {% endfor %}
                              </ul>
                              {% endif %}
                              {% endfor %}
                              <div class="input-group-btn">
                              <button class="btn btn-default" type="submit" name="simples"><i class="fa fa-search"></i></button>
                              </div>
                          </div>
                      </form>
                    
                    </div>
                    
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                      <form method="post">
                        {% csrf_token %}
                        {% for field in formAvancado %}
                        {% if 'periodo' not in field.name %}
                        <div class="form-row">
                          <div class="form-group col">
                            {{ field.label_tag }}
                            {{ field }}
                            {% if field.errors %}
                            <ul class="errorlist">
                                {% for error in field.errors %}
                                <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                          </div>
                        </div>
                        {% else %}
                        {% if field.name == 'periodo_inicio' %}
                        <label>Período</label>
                        <div class="form-row">
                          <div class="form-group col">
                            {{ field.label_tag }}
                            {{ field }}
                            {% if field.errors %}
                            <ul class="errorlist">
                                {% for error in field.errors %}
                                <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                          </div>
                          {% else %}
                          <div class="form-group col">
                            {{ field.label_tag }}
                            {{ field }}
                            {% if field.errors %}
                            <ul class="errorlist">
                                {% for error in field.errors %}
                                <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                          </div>
                        </div>
                        {% endif %}
                        {% endif %}
                        {% endfor %}                                                                                              
                        <button type="submit" class="btn btn-primary" name="avancado"><i class="fa fa-search"></i> Consultar acervo</button>
                      </form>
                      <datalist id="categoriaDataList">
                        {% for categoria in categoriasBusca %}
                        <option>{{categoria.nome}}</option>
                        {% endfor %}
                      </datalist>
                      <datalist id="autorDataList">
                        {% for autor in autoresBusca %}
                        <option>{{autor.nome}}</option>
                        {% endfor %}
                      </datalist>
                      <datalist id="fundoDataList">
                        {% for fundo in fundosBusca %}
                        <option>{{fundo.nome}}</option>
                        {% endfor %}
                      </datalist>
                    </div>
                    
                  </div>

                </div>
                <hr>
                <h4>Resultado da busca:</h4>
                {% for item in itens_acervo %}
                {% load index %}
                <a href="{% url 'acervo:item_detalhe' nome_categoria=categorias_pai|index:forloop.counter0|lower nome_item=item.nome|lower %}">
                <div class="well search-result">
                  <div class="row">
                    <div class="col-lg-12 title">
                        <h3>{{ item.nome }}</h3>
                        <p class="result_busca">
                          Categoria: {% for categoria in item.categorias.all %}
                          {{ categoria.nome }}{% if not forloop.last %}, {%endif%}
                        {% endfor %}
                        </p>
                        <p class="result_busca">Fundo/Coleção: {{ item.fundo_colecao }}</p>
                        <p class="result_busca">Autor: {% for autor in item.autores.all %}
                          {{ autor.nome }}{% if not forloop.last %}, {%endif%}
                        {% endfor %}
                        </p>
                        <p class="result_busca">Título: {{ item.titulo }}</p>
                        <p class="result_busca">Descritores: {{ item.descritores }}</p>
                        <p class="result_busca">Data ou período: 
                          {% if item.data_inicio_formato == 'C' %}
                            {{ item.data_inicio }}
                          {% elif item.data_inicio_formato == 'MA' %}
                            {{ item.data_inicio|date:"M/Y" }}
                          {% else %}
                            {{ item.data_inicio|date:"Y" }}
                          {% endif %}
                          {% if item.data_fim %}
                          - 
                              {% if item.data_fim_formato == 'C' %}
                              {{ item.data_fim }}
                              {% elif item.data_fim_formato == 'MA' %}
                              {{ item.data_fim|date:"M/Y" }}
                              {% else %}
                              {{ item.data_fim|date:"Y" }}
                              {% endif %}
                          {% endif %}
                        </p>
                        <p class="result_busca">Tipo de documento: {{ item.tipo_documento }}</p>
                        <p class="result_busca">Suporte: {{ item.suporte }}</p>
                        {% if item.atividades_eventos.all %}
                        <p class="result_busca">Atividade/evento: {% for atividade in item.atividades_eventos.all %}
                          {{ atividade.atividade }}{% if not forloop.last %}, {%endif%}
                        {% endfor %}</p>
                        {% endif %}
                    </div>
                  </div>
                </div>
                </a>
                {% empty %}
                  <h2>Nenhum item foi encontrado</h2>
                {% endfor %} 
            </div>
        </div>
    </div>
</section>
{% endblock %}