{% extends "base.html" %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col esquerda">
                <h2>ACERVO </h2>
                <div>
                    <nav>
                      <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Busca Básica</a>
                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Busca Avançada</a>
                        
                      </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                      
                        <form method="post">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Digite o item do acervo" name="search">
                                <div class="input-group-btn">
                                <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </form>
                      
                      </div>
                      
                      <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <form>
                          <div class="form-row">
                            <div class="form-group col">
                              <label for="">Item do acervo</label>
                              <input type="text" class="form-control" id="item-acervo" placeholder="">
                            </div>
                            
                          </div>
                          
                          <div class="form-row">
                            <div class="form-group col">
                              <label for="">Descrição do item</label>
                              <input type="text" class="form-control" id="desc-item" placeholder="">
                            </div>
                            
                          </div>
                          <div class="form-row">
                            <div class="form-group col">
                              <label for="">Categoria do Acervo</label>
                              <select id="categoria" class="form-control">
                                <option selected>Escolha...</option>
                                <option>...</option>
                              </select>
                            </div>
                            
                          </div>
                          <div class="form-row">
                            <div class="form-group col">
                              <label for="">Data</label>
                              <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
                            </div>
                            
                          </div>
                                                                                              
                          <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
                        </form>
                      
                      </div>
                      
                    </div>

                </div>
                <hr>
                <h5>Navegue pelas categorias</h5>
                <div class="texto">
                    {% for categoria in categorias %}
                    <div class="card mb-3" style="max-width: 100%;">
                      <div class="row no-gutters">
                        <div class="col-md-4">
                          <img class="card-img-top imagem-noticia" src="{{ categoria.imagem.url }}" alt="{{ categoria.nome }}">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h5 class="card-title"><b>{{ categoria.nome }}</b></h5>
                            <p class="card-text">{{ categoria.descricao|linebreaks }}</p>
                            <p class="card-text">
                                <small class="text-muted">
                                    <a href="{{ categoria.get_absolute_url }}" class="btn btn-success">Acessar </a>
                                </small>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endfor %}                      
                </div>     
            </div>   
        </div>
    </div>
</section>
{% endblock %}