{% extends "base.html" %}
{% load static %}
{% block style %}
<link href="{% static '/css/acervo-resultado-busca.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col esquerda">
                <h2>ACERVO </h2>
                <div>
                  <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                      <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Busca Básica</a>
                      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Busca Avançada</a>
                      
                    </div>
                  </nav>
                  <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    
                      <form method="post">
                        {% csrf_token %}
                          <div class="input-group">
                              {% for field in form %}
                              {{ field.label_tag }}
                              {{ field }}
                              {% if field.errors %}
                              <ul class="errorlist">
                                  {% for error in field.errors %}
                                  <li>{{ error }}</li>
                                  {% endfor %}
                              </ul>
                              {% endif %}
                              {% endfor %}
                              <div class="input-group-btn">
                              <button class="btn btn-default" type="submit" name="simples"><i class="fa fa-search"></i></button>
                              </div>
                          </div>
                      </form>
                    
                    </div>
                    
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                      <form method="post">
                        {% csrf_token %}
                        {% for field in formAvancado %}
                        <div class="form-row">
                        <div class="form-group col">
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.errors %}
                        <ul class="errorlist">
                            {% for error in field.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        </div>
                        </div>
                        {% endfor %}                                                                                              
                        <button type="submit" class="btn btn-primary" name="avancado"><i class="fa fa-search"></i> Buscar</button>
                      </form>
                    
                    </div>
                    
                  </div>

                </div>
                <hr>
                <h4>Resultado da busca:</h4>
                <div class="texto">
                    {% for item in itens_acervo %}
                    <div class="card mb-3" style="max-width: 100%;">
                      <div class="row no-gutters">
                        <div class="col-md-8">
                          <div class="card-body resultado-busca">
                            {% load index %}
                            <a href="{% url 'acervo:item_detalhe' nome_categoria=categorias_pai|index:forloop.counter0|lower nome_item=item.nome|lower %}" class="">
                                {{ item.nome }}
                                <br>
                                <small>
                                  {% for crumb in breadcrumbs|index:forloop.counter0 %}
                                    {% if forloop.last %}
                                    {{ crumb.nome }}
                                    {% else %}
                                      {{ crumb.nome }} > 
                                    {% endif %}
                                  {% endfor %}
                                </small>
                            </a>
                            <p class="card-text">{{ item.descricao|safe }} </p>   
                          </div>
                        </div>
                      </div>
                    </div>
                    {% empty %}
                    <h2>Nenhum item foi encontrado</h2>
                    {% endfor %}
                </div>   
            </div>
        </div>
    </div>
</section>
{% endblock %}