{% extends "base.html" %}
{% load static %}
{% block style %}
<link href="{% static 'css/acervo-principal.css' %}" rel="stylesheet">
<link href="{% static 'css/acervo-item-detalhe.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col esquerda">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'acervo:acervo' %}">Acervo</a></li>
                    {% for crumb in breadcrumb %}
                    <li class="breadcrumb-item active" aria-current="page">
                        <a href="{{ crumb.get_absolute_url }}">
                            {{ crumb.nome }}
                        </a>
                    </li>
                    {% endfor %}
                    <li class="breadcrumb-item active" aria-current="page">{{ item.nome }}</li>
                  </ol>
                </nav>
                <img class="img-fluid rounded imagem-item-detalhe" src="{{ foto_destaque.imagem.url }}" alt="{{ item.nome }}" align="left">
                <div class="texto-noticia text-justify">
                    <p>{{ item.descricao|linebreaks }} 
                        Fundo: {{ item.fundo }}
                        <br>
                        Data: {{ item.data }}
                        </p>                       
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}