{% extends "base.html" %}
{% load static %}
{% block style %}
<link href="{% static 'css/acervo-principal.css' %}" rel="stylesheet">
<link href="{% static 'css/acervo-item-detalhe.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col esquerda">
                <h2>ACERVO </h2>
                <div>
                    <nav>
                      <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Busca Básica</a>
                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Busca Avançada</a>
                        
                      </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                      
                        <form method="post">
                          {% csrf_token %}
                            <div class="input-group">
                                {% for field in form %}
                                {{ field.label_tag }}
                                {{ field }}
                                {% if field.errors %}
                                <ul class="errorlist">
                                    {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                                {% endfor %}
                                <div class="input-group-btn">
                                <button class="btn btn-default" type="submit" name="simples"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </form>
                      
                      </div>
                      
                      <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <form method="post">
                          {% csrf_token %}
                          {% for field in formAvancado %}
                          {% if 'periodo' not in field.name %}
                          <div class="form-row">
                            <div class="form-group col">
                              {{ field.label_tag }}
                              {{ field }}
                              {% if field.errors %}
                              <ul class="errorlist">
                                  {% for error in field.errors %}
                                  <li>{{ error }}</li>
                                  {% endfor %}
                              </ul>
                              {% endif %}
                            </div>
                          </div>
                          {% else %}
                          {% if field.name == 'periodo_inicio' %}
                          <label>Período</label>
                          <div class="form-row">
                            <div class="form-group col">
                              {{ field.label_tag }}
                              {{ field }}
                              {% if field.errors %}
                              <ul class="errorlist">
                                  {% for error in field.errors %}
                                  <li>{{ error }}</li>
                                  {% endfor %}
                              </ul>
                              {% endif %}
                            </div>
                            {% else %}
                            <div class="form-group col">
                              {{ field.label_tag }}
                              {{ field }}
                              {% if field.errors %}
                              <ul class="errorlist">
                                  {% for error in field.errors %}
                                  <li>{{ error }}</li>
                                  {% endfor %}
                              </ul>
                              {% endif %}
                            </div>
                          </div>
                          {% endif %}
                          {% endif %}
                          {% endfor %}                                                                                              
                          <button type="submit" class="btn btn-primary" name="avancado"><i class="fa fa-search"></i> Consultar acervo</button>
                        </form>
                        <datalist id="categoriaDataList">
                          {% for categoria in categoriasBusca %}
                          <option>{{categoria.nome}}</option>
                          {% endfor %}
                        </datalist>
                        <datalist id="autorDataList">
                          {% for autor in autoresBusca %}
                          <option>{{autor.nome}}</option>
                          {% endfor %}
                        </datalist>
                        <datalist id="fundoDataList">
                          {% for fundo in fundosBusca %}
                          <option>{{fundo.nome}}</option>
                          {% endfor %}
                        </datalist>
                      </div>
                      
                    </div>

                </div>
                <br>
                <p> {{ instituicao.descricao_acervo|safe }}</p><p></p>
                                        <hr>  
                <h5>Navegue pelas categorias</h5>
                <div class="texto">
                    {% for categoria in categorias %}
                    <div class="card mb-3" style="max-width: 100%;">
                      <div class="row no-gutters">
                        <div class="col-sm-12 col-md-6 col-lg-4 p-md-3 p-sm-5">
                          <img class="card-img-top imagem-noticia w-100" src="{{ categoria.imagem.url }}" alt="{{ categoria.nome }}">
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-8">
                          <div class="card-body">
                            <h5 class="card-title"><b>{{ categoria.nome }}</b></h5>
                            <p class="card-text">{{ categoria.descricao_curta }}</p>
                            <p class="card-text">
                                <small class="text-muted">
                                    <a href="{{ categoria.get_absolute_url }}" class="btn btn-success">Acessar </a>
                                </small>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endfor %}                      
                </div>     
            </div>   
        </div>
    </div>
</section>
{% endblock %}