{% extends "base.html" %}
{% load static %}
{% block style %}
<link href="{% static 'css/noticia.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col esquerda">
                <h2>NOTÍCIAS </h2>
                <div class="texto">

                    {% for noticia_conteudo in noticias %}
                    <div class="card mb-3" style="max-width: 100%;">
                      <div class="row no-gutters">
                        {%if noticia_conteudo.foto != None %}
                        <div class="col-md-6 col-lg-4">
                              <img class="card-img-top imagem-noticia w-100 p-sm-5 p-md-0" src="{{noticia_conteudo.foto.imagem.url }}" alt="{{ noticia.titulo }}">
                        </div>
                        
                        
                        <div class="col-md-6 col-lg-8">
                          <div class="card-body ">
                            <div class="card-header">{{ noticia_conteudo.noticia.atualizado_em|date:"d/m/Y à\s G:i"  }}</div>
                            <h5 class="card-title mt-3"><b>{{ noticia_conteudo.noticia.titulo }}</b></h5>
                            <p class="card-text">{{ noticia_conteudo.noticia.descricao|safe }}</p>
                            <p class="card-text">
                                <small class="text-muted">
                                    <a href="{{ noticia_conteudo.noticia.get_absolute_url }}" class="btn btn-success float-right mb-2">Leia mais</a>
                                </small>
                            </p>
                          </div>
                        </div>
                        {% else %}
                        <div class="col-md-12 ">
                          <div class="card-body ">
                            <div class="card-header">{{ noticia_conteudo.noticia.atualizado_em|date:"d/m/Y à\s G:i"  }}</div>
                            <h5 class="card-title mt-3"><b>{{ noticia_conteudo.noticia.titulo }}</b></h5>
                            <p class="card-text">{{ noticia_conteudo.noticia.descricao|safe }}</p>
                            <p class="card-text">
                                <small class="text-muted">
                                    <a href="{{ noticia_conteudo.noticia.get_absolute_url }}" class="btn btn-success float-right mb-2">Leia mais</a>
                                </small>
                            </p>
                          </div>
                        </div>
                        {% endif %}
                      </div>
                    </div>
                     
                    {% endfor %}     
                </div> 
            </div> 
        </div>
    </div>
</section>
{% endblock %}