{% extends "base.html" %}
{% load static %}
{% block style %}
<link href="{% static 'css/noticia.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h2>{{ noticia.titulo }}</h2>
                <p class="text-secondary">{{ noticia.atualizado_em|date:"d/m/Y à\s G \h\o\r\a\s \e i \m\i\n\u\t\o\s"}}</p> 
                <hr>
                {% if foto_noticia != None %}
                <img class="img-fluid rounded imagem-cabecalho-noticia" src="{{ foto_noticia.imagem.url }}" alt="{{ noticia.titulo }}">
                <hr>
                {% endif %}
                
                <div class="texto-noticia text-justify">
                    <p>{{ noticia.corpo|safe }}</p>                                         
                </div>             
            </div>
            
            <div class="col-3 shadow texto text-center">
                <h3>Outras Notícias</h3>
                {% for noticia in outras_noticias %}
                <div class="card mb-3">
                    {% if  noticia.foto != None%}
                    <img class="card-img-top" src="{{ noticia.foto.imagem.url }}" alt="{{ noticia.noticia.titulo }}">
                    {% endif %}
                    <div class="card-body">
                        <p class="card-text">{{ noticia.noticia.titulo }}</p>
                        <p class="card-subtitle text-muted mb-2">{{ noticia.noticia.atualizado_em|date:"d/m/Y"}}</p>
                        <a href="{{ noticia.noticia.get_absolute_url }}" class="btn btn-success">Leia mais</a>
                    </div>
                </div>
                {% endfor %}
            </div>      
        </div>
    </div>
</section>
{% endblock %}